body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Monserrat' Arial, Helvetica, sans-serif;
  color: rgb(114, 163, 249);
}

header{
  padding: 2%;
  background: #011627;
  height: 40px;
}

.dashboard{
  width: 10%;
  background: #011627;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  transition: all 1s;
}

.LogIn{
  background-color: rgb(217, 19, 19);
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.Login{
  background-color: rgb(114, 163, 249);
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;
}

ul{
  padding: 0;
}

ul li {
  list-style-type: none;
}

ul li a {
  color:rgb(114, 163, 249);
  text-decoration: none;
  font-size: 16px;
  font-family: 'Monserrat' Arial, Helvetica, sans-serif;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}

ul li a:hover,
ul li a.active {
  background: #172b4d;
}

.modal-title{
  padding: 10px;
}

modal-content{
  flex: 0 0 85%;
  padding: 10px;
}

modal-btn{
  margin-right: 10px;
  max-height: 40px;
}